body {
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: antiquewhite;
    background-position: center;
}

.container{

    width: 500px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: #daf10b;
    padding: 80px;
    margin: 10% auto 0;
    white-space:inherit
}

.btn {
    background-color: darkslategray;
    color: white;

}

#p4 {
    text-align: left;
    font-size: xx-large;
}

#ldrbrd {
    width: 400px;
    padding: 30px;
    margin: 5% auto 0;
}