body {
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: antiquewhite;
    background-position: center;
}

.container{

    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: #daf10b;
    padding: 20px;
    margin: 10% auto 0;
}

#signup, #login {
    padding: 10px;
    background-color: green;
    color: #140101e9;
    width: 100%;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
    
}

.btn {
    background-color: darkslategray;
    color: white;

}
.txt {
    text-decoration: solid;
    text-align: center;
    color: rgb(10, 50, 250);
}
.p {
    color: red;
    text-align: center;
    text-transform: capitalize;
    text-decoration-style: solid ;
    text-decoration: solid;
    text-decoration-color: red;
}

.container h1 {
    color: brown;
    text-align: center;
    margin-bottom: 30px;
}

.input {
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 98%;
    border: 1px solid #999;
}

#msg {
    color: red;
    text-decoration:solid;
}